@media screen and (max-width: 500px){
    .parent{
        margin-left:  40px;
        width: 60%;
        margin-top: 30px;
    }
    .logo{
        margin-left: -55px;
    }
    .line{
        margin-left: 90px;
    }
    .header{
        height: 300px;
    }
  .old{
      margin-left: 0px;
  }
  .main{
      height: 550px;
  }
  .hi{
      margin-top: -10px;
  }
  .im{
    margin-top: -20px;
  }
   
}

