body{
background:  rgba(140, 48, 158, 0.945);
   box-sizing: border-box;
}
.parent{
    background:  rgba(140, 48, 158, 0.945);
   box-sizing: border-box;
   box-shadow: 0 0 1px 0 rgba(212, 47, 157, 0.7);
   width: 35%;
   height: 500px;
   margin-left: 450px;
   margin-top: 40px;
}
.header{
    height: 250px;
    background-color: rgb(255, 15, 255);
    box-shadow: 0 0 1px 0 rgba(212, 47, 157, 0.7);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.child{
    margin-top: -20px;
}
.logo p{
    margin-top: 20px;
}
.logo{
    border: 1px solid orangered;
    margin-left: -24px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    background-color:orangered;
    text-align: center;
    font-family: cursive;
    padding-top: 5px;
}
 li{
    display: inline-block;
    text-decoration: none;
}
.line{
    padding: 10px;
    margin-left: 200px;
    margin-top: -50px;
    font-family: cursive;
    font-size: large;
    color: purple;
}
li:hover{
    background-color: orangered;
    color: white;
}
.hil{
    margin: 20px;
}
.aid{
    text-align: center;
}
.ad{
    font-size: 10px;
}
.old{
    margin-left: 30px;
}
.sub{
    background-color: orangered;
    color: white;
    font-family: cursive;
}
.main{
    height: 500px;
    background-color: white;
}
.sec{ 
    height: 150px;
}
hr{
    border: none;
    border-top: 2px dotted #000;
}
.column{
   flex: 50%;
}
.row{
   display: flex;
}
.him{
    margin-top: 40px;
}
.hi{
    margin-top: 30px;
    color: blueviolet;
    font-family: cursive;
    font-size: large;
}
.do{
    margin-top: -15px;
}
.sat{}
.say{

}
.footer{
    height: 50px;
    background-color: rgb(255, 15, 255);
    box-shadow: 0 0 1px 0 rgba(212, 47, 157, 0.7);
    margin-top: 20px;

}
.to{
    margin-top: -20px;
    color: white;
    text-align: center;
    font-family: cursive;
}